STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
FRONTEND_URL=http://localhost:5173
RESEND_API_KEY=re_hgHaPLn8_ETfMMtquc3TbSuBQeqiFnw7t
MAIL_FROM=Spotykite <hello@spotykite.com>
SPOTYKITE_ADMIN_EMAIL=florentmoulin5@gmail.com
